*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    --color-primary: #008080;
    --color-secondary: #012d2d;
}

.navbar-brand{
    height: 100px;
}

.navbar-brand img {
    height: 100%;
}

.nav-link{
    
    
    margin-left: 10px;
    color: #fff;
    display: inline-block;
}
.btn{
    line-height: 24px;
    width: fit-content;
    width: 100px;
    border-radius: 35px;
}
.navbar-toggler{
    color: #333;
    
}
.sign {
    background: var(--color-primary);
}
.up{
    background: #f5a61c;
}
.navbar-nav .nav-link{
    text-decoration: none;
    font-size: 18px;
}
.navbar-nav .nav-link:hover{
    color: #fff;
}
nav{
    border-bottom: 1px solid #666;
    
}
.navbar{
    height: 85px;
    background: #fff;
}

/* ----Home----- */

#home{
    background: url(./img/Links/back.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
#home .wave{
    position: absolute;
   bottom: 0;
   left: 0;
}

.box h1 {
    color: var(--color-secondary);
    font-size: 50px;
    margin-top: 60px;
    font-family: sans-serif;
    font-weight: 700;
}
.box .lead {
    font-style: italic;
    width: 350px;
    color: var(--color-secondary) ;
    font-weight: bold;
    font-size: 15px;
}


.box-btn {
    
    padding: .5rem 1rem;
    background: rgba(216, 56, 83, 0.646);
    border-radius: 3rem;
    border: none;
    color: #fff;
    font-size: 13px; 
    font-weight: 500;
    cursor: pointer;
    outline: none;
}
.box-btn:focus{
    border: none;
    border: none;
    outline: none;
}
.box-get{
    padding: .5rem 2rem;
    background: var(--color-primary);
    border-radius: 3rem;
    border: none;
    color: #fff;
    font-size: 13px; 
    font-weight: 500;
    cursor: pointer;
   
}

.heading-2{
    color: var(--color-secondary);
    font-size: 24px;
    font-weight: 800;
    font-family: sans-serif;
    margin-bottom: 2rem;
}

.plan-item img{
    width: 100%;
    padding: 1rem;
    
}
.plan-item {
    padding: .5rem;
}
.plan-item .lead {
    font-size: 18px;
    color: var(--color-secondary);
    font-style: normal;
    font-weight: 500;
    padding: 0 .5rem;
}

.box-item-2{
    background-color: #7bb3ae17;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: .5rem;
    border-radius: 1.3rem;
}

.box-item-2-pic img {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}

.box-item-2 hr {
    background-color: var(--color-secondary);
    width: 5rem;
    height: 2px;
    margin-bottom: 1rem;
}

.box-item-2 p{
    font-size: 18px;
    color: var(--color-secondary);
    font-style: normal;
    font-weight: 500;
    padding: 0 .5rem;
    margin-top: 1rem;
}

